server:
  port: 8102
spring:
  application:
    name: exchange-auth # 必须配置，对应 Nacos 中的 Data ID 前缀
  config:
    import: "nacos:exchange-auth.yaml"
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848。 # Nacos 注册中心地址
      discovery:
        namespace: public
        group: DEFAULT_GROUP
      config:
        namespace: public
        group: DEFAULT_GROUP        # 默认分组
        file-extension: yaml        # 必须指定为 yaml，默认为 properties
  # auth 服务不连数据库 → 直接禁用 DataSource
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

jwt:
  secret: "your-very-secure-secret-key-at-least-32-characters-long"
  access-token-expiration: 3600000 # 這裡的單位通常是毫秒 (例如 1 小時)
  refresh-token-expiration: 604800000 # 這裡的單位通常是毫秒 (例如 7 天)